<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="index.css">
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <title>Home</title>
</head>
<body>
  <p class="notification"></p>
  <div id="container">
    <h1 id="form-title">Crea tu cuenta de trabajo</h1>
    <form id="form-L" style="display:grid">
      <input class="form-input" type="text" id="L-input" placeholder="Tu nombre">
      <input type="password" id="L-codigo" class="form-input" placeholder="Ingresa el codigo">
      <button id="formL-btn" class="form-btn" type="submit">Ingresar</button>
    </form>
 
  </div>
  <script src="../../../index2.js"></script>
  
</body>
</html>